@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf");
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Regular.ttf");
    src: url("../fonts/Nunito-Medium.ttf");
    src: url("../fonts/Nunito-Bold.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    src: url("../fonts/Montserrat-Medium.ttf");
}

input {
    background: #F7F6F6;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    padding-left: 0.9em;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #222;
}

input::placeholder {
    color: #D4D4D4;
}

input[type="date"] {
    padding-left: 1em;
    width: 100%;
    padding-right: 1em;
    color: #D4D4D4;
}

input[type="date"]::placeholder {
    color: #D4D4D4 !important;
}

input[type="radio"] {
    width: unset;
    height: unset;
}

input[type="checkbox"] {
    width: unset;
    height: unset;
    margin-top: 20px;
}

.searchbar {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M29.3333 29.3334L26.6666 26.6667M15.3333 28C16.9967 28 18.6438 27.6724 20.1806 27.0358C21.7174 26.3993 23.1138 25.4662 24.29 24.29C25.4662 23.1138 26.3992 21.7175 27.0358 20.1807C27.6723 18.6439 28 16.9968 28 15.3334C28 13.6699 27.6723 12.0228 27.0358 10.486C26.3992 8.94924 25.4662 7.55288 24.29 6.37667C23.1138 5.20046 21.7174 4.26744 20.1806 3.63088C18.6438 2.99432 16.9967 2.66669 15.3333 2.66669C11.9739 2.66669 8.75207 4.00121 6.37661 6.37667C4.00115 8.75213 2.66663 11.9739 2.66663 15.3334C2.66663 18.6928 4.00115 21.9146 6.37661 24.29C8.75207 26.6655 11.9739 28 15.3333 28Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y: center;
    padding-left: 3.5em;
}

table {
    background: #FEFEFE;
    border: 1px solid #D4D4D4;
    border-radius: 8px !important;
    width: 100%;
    padding: 0.5em;
    border-collapse: separate;
    border-spacing: 0 0.35em;
    overflow: hidden;
}

tr {
    width: 95%;
    background: #E5E5E5;
    border-radius: 8px !important;
}

tr:first-of-type {
    width: 100%;
}

tr:nth-child(even) {
    background: #F1F1F1;
}

tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

tfoot tr:last-child{
    background: #FEFEFE;
}

table th {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    padding-left: 0.7em;
    background: #FEFEFE;
}

table tbody tr:hover {
    background: #C2E0FF;
}

table td {
    text-align: left;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 10px 20px 10px;
    padding-left: 0.5em;
    
    max-width: 10vw; /* Define a largura máxima da célula */
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    overflow: hidden; /* Oculta o texto que excede a largura máxima */
    text-overflow: ellipsis; /* Adiciona reticências ao final do texto ocultado */
}

select {
    background: #F7F6F6;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    color: #222;
    height: 40px;
    width: 100%;
    padding-left: 0.6rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.08004 1.90997L7.60004 8.42997C8.37004 9.19997 9.63004 9.19997 10.4 8.42997L16.92 1.90997' stroke='%23D4D4D4' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: center;
}

select:invalid {
    color: #D4D4D4 !important;
}

select:focus {
    border-color: #007BFF;
}

select option {
    color: #222 !important;
}

select option :disabled {
    color: #d4d4d4;
}